<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
    }

    .label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }

    .input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    p {
        margin-bottom: 15px;
    }

    .btn {
        background-color: #764ba2;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #50227e;
    }
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} mt-2" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.email.label(class="label") }} {{ form.email(class="input") }}</p>
    <p>{{ form.password.label(class="label") }} {{ form.password(class="input") }}<input type="checkbox"
            id="togglePassword"> Lihat Password</p>
    <p>{{ form.submit(class="btn") }}</p>
    <a href="{{ url_for('auth.register') }}" class="button">Belum Punya akun?</a>
</form>


<script>
    document.getElementById("togglePassword").addEventListener("change", function () {
        let passwordField = document.getElementById("password");
        passwordField.type = this.checked ? "text" : "password";
    });
</script>